<cdk-virtual-scroll-viewport
  class="h-[calc(100vh_-_7rem)] bg- overflow-hidden"
  [itemSize]="rowHeight"
  (scrolledIndexChange)="loadMore($event)"
>
  <div
    #rowItem
    class="flex flex-row flex-shrink-0 items-stretch justify-center last:mb-0 mb-[2px]"
    *cdkVirtualFor="let row of list"
  >
    <fg-grid-block
      *ngFor="let item of row"
      [data]="item || null"
      class="mr-[2px] last:mr-0 flex-1 cursor-pointer"
    ></fg-grid-block>

    <ng-container *ngIf="row.length % 3 !== 0">
      <fg-grid-block
        *fgTimes="3 - (row.length % 3)"
        [data]="null"
        class="mr-[2px] last:mr-0 flex-1"
      ></fg-grid-block>
    </ng-container>
  </div>
</cdk-virtual-scroll-viewport>

<button
  type="button"
  class="fixed right-0 left-0 bottom-0 w-full h-8 sm:h-12 flex justify-center items-center bg-blue-600 text-white text-xl py-2"
>
  <span>new post</span>
</button>
