<div
  class="flex flex-row justify-center flex-nowrap gap-1 h-2 w-max m-auto transition-all duration-150 hover:h-4 hover:p-1 hover:rounded-full hover:bg-slate-400 hover:cursor-default"
  [ngClass]="{
    'h-4 p-1 rounded-full bg-slate-400': touchActive
  }"
>
  <span
    *fgTimes="dots; let i = index"
    class="block cursor-pointer rounded-full aspect-square bg-white border border-black"
    [ngClass]="{
      'bg-blue-600': i === current
    }"
    [attr.data-slider-dot]="i"
    (click)="dotChanged.emit(i)"
  ></span>
</div>
