<div
  class="flex flex-row max-w-full justify-center items-center flex-nowrap sm:max-w-[60%] xl:max-w-[40%] h-2 p-1 m-auto transition-all duration-150 hover:h-6 hover:rounded-full hover:bg-slate-400 hover:cursor-default"
  [ngClass]="{
    'h-6 rounded-full bg-slate-400': touchActive
  }"
  [style.width]="dots * 10 + '%'"
>
  <span
    *fgTimes="dots; let i = index"
    class="flex flex-1 cursor-pointer rounded-full h-max w-full max-w-[10px] min-w-[4px] aspect-square border border-black mr-1 last:mr-0"
    [class.bg-blue-600]="i === current"
    [class.bg-white]="i !== current"
    [attr.data-slider-dot]="i"
    (click)="dotChanged.emit(i)"
  >
  </span>
</div>
